@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);
.page {
  background-color: #2A2C2F;
  color: #FFFFFF;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', 'sans-serif';
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 16px 16px 0;
  }
}

.header__logo {}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

.header__lang-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header__lang-links_list {
  margin: 0;
  padding: 0;
}

.header__lang-links_list:first-child {
  margin-right: 18px;
}

.header__lang-link {
  color: #FFFFFF;
  text-decoration: none;
  text-align: right;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:hover {
  opacity: 0.5;
  transition-duration: 1s;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  display: flex;
  flex-direction: column;
  margin: 56px auto 0;
  align-items: center;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .lead {
    margin: 48px 48px 0;
  }
}

@media (max-width: 768px) {
  .lead {
    margin: 48px 0 0;
  }
}

@media (max-width: 320px) {
  .lead {
    margin: 48px 2px 0;
  }
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
  max-width: 720px;
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  margin: 32px auto 0;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__image {
  object-fit: contain;
  margin-top: 64px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}

.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 8px 0 0;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}

.intro {
  margin: 92px auto 0 148px;
  max-width: 690px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin: 64px 16px 0;
  }
}

.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__text {
  margin: 40px 0 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.photo-grid {
  max-width: 1184px;
  display: grid;
  margin: 92px 48px 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 88px 24px 0;
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 64px 16px 0;
    max-width: 288px;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

.photo-grid__item {
  max-width: 100%;
}

.places {
  margin: 92px 148px 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px 48px 0;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px 24px 0;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 64px 0px 0;
    max-width: 320px;
  }
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0;
}

@media (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    gap: 48px 28px;
    margin-top: 73px;
  }
}

@media (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    margin-top: 50px;
    gap: 32px;
  }
}

.place__title {
  margin: 0px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  grid-column: 1 / 2;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin: 0px 16px;
    font-size: 32px;
    line-height: 35px;
  }
}

.place__image {
  width: 100%;
    
  grid-row: 2 / 3;
}

.place__website {
  list-style: none;
  margin: 0;
  padding: 0;
}

.place__website__url-heading {
  font-size: 12px;
    line-height: 170%;
    font-weight: 400;
    color: #AAAAAA;
    letter-spacing: 0.2em;
}

.place__website__link {
  font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #AAAAAA;
}

.place__paragraph {
  margin: 0px 0px 26px 0px;
  grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:last-child {
  margin: 0px;
}

.cover {
  margin: 92px 48px 0px;
  max-width: 1184px;
  background-image: url(./images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0px 0px;
    min-height: 640px;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0px 0px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px 0px 0px;
    min-height: 200px;
  }
}

.cover__title {
  margin: 0;
  padding: 245px 312px 32px;
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding: 195px 232px 32px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding: 115px 104px 32px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    
    padding: 33px 16px 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}

.cover__subtitle {
  margin: 0 412px;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
      margin: 0 332px;
   }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
      margin: 0 204px;
   }
}
@media screen and (max-width: 320px) {
  .cover__subtitle {
     font-size: 14px;
     margin: 0 16px;
  }
}

.cover__overlay {
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 30%;
}

.cover__overlay:hover {
  opacity: 80%;
  transition-duration: 1s;
}

.footer {
  max-width: 90%;
  margin: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0;
    margin: 64px auto 24px 16px;
    flex-direction: column;
  }
}

.footer__link {
  margin-right: 18px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}

.footer__link:hover {
  opacity: 0.5;
  transition-duration: 1s;
}

.footer__links {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
}

@media (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    margin: 0;
  }
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  font-weight: normal;
}